*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
 
.cotegary-div{
    background-color: white;
    border-radius: 9px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .4s ease;
    cursor: pointer;
    
}
.cotegary-div:hover{
    background-color: #916C14;
    color: #fff !important;
    scale: 1.04;
}
.cotegary-div p{
    color: rgb(156, 154, 154);
    transition: all .6s ease;

}
.cotegary-div:hover p{
    color: #fff;
}
.cotegary-div img{
      
    float: right;
}


footer{
    margin-top: 110px;
}